body {
  width: 500px;
  margin: 0 auto;
}
/* 
.positioned {
  background: rgba(255, 84, 104, 0.3);
  border: 2px solid rgb(255, 84, 104);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
} */
/* 
.positioned {
  position: fixed;
  top: 30px;
  left: 30px;
} */

.positioned {
  /* position : relative; */
  position: fixed;
  background-color: rgb(160, 255, 185);
  border: 2px solid rgb(0, 193, 51);
  top: 30px;
  left: 30px;
}

.sticky {
  position: sticky;
  top: 80px;
  background-color: rgb(255, 184, 60);
  border: 2px solid rgb(255, 193, 0);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
